* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  text-align: center;
  display: grid;
  justify-content: center;
}
header {
  background-color: gray;
  padding: 15px;
  margin: 0px auto;
}
table {
  display: grid;
  justify-content: center;
  border: 2px solid black;
  margin-top: 20px;
}
thead {
  background-color: rgb(97, 95, 197);

  padding: 15px;
}

th {
  padding: 0px 10px;
}

td {
  margin: 15px 0;
  padding: 10px 25px;
  border-bottom: 1px solid black;
}

.reprovado {
  color:  red;
}
.aprovado {
  color:  black;
}
